/*  your css code here. If applicable */

.container{
	background: #f5f5f5;
	padding: 30px;
}
.testimonial{
	background: white;
	border: 1px solid black;
	padding: 0px 20px 0px 20px;
}
.author{
	font-style: italic;
	text-align: right;
}